<h2> Let's edit an article </h2>

<!-- The form will send a request to the patch controller action -->
<!-- The hidden input tag will override the POST request to PATCH -->
<!-- Allows the user to update a articles attributes -->

<form method="post" action="/articles/<%=@article.id%>">

<input id=hidden type=hidden name=_method value="PATCH">
<p> Update title? <input type="text" name="title" value="<%=@article.title %>"> </p>
<p> Update contents?<input type="text" name="content" value="<%=@article.content %>"> </p>
<input type="submit">

</form>

