<!DOCTYPE html>
<html lang="en">

<head>
<title> Thea Magazine </title>
</head>

<body>
<h1> Thea Magazine </h1>

<!-- Will load the content from the other erb pages -->
<div>
<%= yield %>
</div>

</body>
</html>